@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,500;0,700;1,300&family=Rubik:wght@500&display=swap');
:root {
    --font-main: 'Poppins', sans-serif;
    --font-secondary: 'Rubik', sans-serif;
    --font-bold: 700;
    --font-regular: 500;
    --font-light: 300;
    --color-main: #FF4702;
    --color-dark: #020100;
    /* font-style: italic; */
}

body {
    margin: 0;
    font-family: var(--font-main);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    box-sizing: border-box;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: var(--color-dark);
    letter-spacing: 0.1rem;
    height: 2.5rem;
    margin: 0px;
    text-align: center;
}

.active {
    color: var(--color-main);
    border-bottom: solid var(--color-main);
}